mixin feature(data, idx)
	- const { header, list } = data;
	+b('section').feature&attributes(attributes)
		+e('header').header.header-feature__
			+e('h1').title= header.title
			+e('span').index №#{idx}
			+e('p').description!= header.desc

		if header.img
			- const { src, alt } = header.img;
			picture
				source(
					media='(min-width: 1200px)',
					srcset=`${src}--desktop.jpg 1x, ${src}--desktop@2x.jpg 2x`
					)
				source(
					media='(min-width: 768px)',
					srcset=`${src}--tablet.jpg 1x, ${src}--tablet@2x.jpg 2x`
					)
				source(
					media='(max-width: 767px)',
					srcset=`${src}--mobile.jpg 1x, ${src}--mobile@2x.jpg 2x`
					)
				+e.image(
					src=`${src}--desktop.jpg`
					alt= alt
				)

		if list
			+e('ul').list
				each item in list
					+e.list-item.feature-list-item__
						!= pugHelpers.Icon.call(locals, {iconName: `icon--${item.icon}`, className: 'feature-list-item__icon', iconWidth: '36', iconHeight: '36'})
						+e.inner
							+e('h2').caption= item.caption
							+e('p').text!= item.text


